*
body{
 margin:0;
 width:95vw;
}

.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox; 
    display: flex;
    margin-right: -30px; 
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px;
    background-clip: padding-box;
  }

  .my-masonry-grid_column > div { 
    background: grey;
    margin-bottom: 10px;
  }

  button{
      display:flex;
      justify-content: center;
      align-items: center;
  }

   .love{
    position: relative;
cursor: pointer;
&:hover{
  color: rgb(82, 80, 80);
}

   }
   .heart{
   font-size: 1.5rem;
  
    color: transparent;
    position:absolute;
    top:1%;
    right:0;
    border:1px solid;
    border-radius: 2px;
   
    &:hover{
      color: white;
    }
   }