*
body{
 margin:0;
 width:95vw;
}

.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox; 
    display: flex;
    margin-right: -30px; 
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px;
    background-clip: padding-box;
  }

  .my-masonry-grid_column > div { 
    background: grey;
    margin-bottom: 10px;
  }

  button{
      display:flex;
      
  }