*
body{
 margin:0;
 width:95vw;
}

.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox; 
    display: flex;
    margin-right: -30px; 
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px;
    background-clip: padding-box;
  }

  .my-masonry-grid_column > div { 
    background: grey;
    margin-bottom: 30px;
    
  }
  .my-masonry-grid_column > div > img { 
    width:588px;
  }
 

  .load{
      display:flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

   /* .love{
    position: relative;
cursor: pointer;
&:hover{
  color: rgb(82, 80, 80);
}

   } */


   /* .love:hover svg {
    position: relative;
    color: red
   } */
.show{
  height:70vh;
  width:30vw;
  display:block;
  position: fixed;
  background-color: white;
  top:40px;
  left:0%;
  right:0%;
  z-index: 1;
  margin: auto;
}
.block{
  display:none;
}

   .heart{
   font-size: 1.5rem;
  
    color: transparent;
    position:absolute;
    top:1%;
    right:0;
    border:1px solid;
    border-radius: 2px;
   
    &:hover{
      color: white;
      background-color:grey;
    }
   }

   .collect{
    font-size: 1.5rem;
  
    color: transparent;
    position:absolute;
    top:1%;
    right:8%;
    border:1px solid;
    border-radius: 2px;
   
    &:hover{
      color: white;
      background-color:grey;
    }
   }

   .download{
    font-size: 1.5rem;
  
    color: transparent;
    position:absolute;
    bottom:2%;
    right:5%;
    border:1px solid;
    border-radius: 2px;
    &:hover{
      color: rgb(246, 228, 228);
      background-color:grey;
    }
   }

   