*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Josefin Sans",sans-serif;
}

/* header */
.navBar{
  /* height:fit-content; */
  background-image: url("https://images.pexels.com/photos/19840883/pexels-photo-19840883.jpeg?auto=compress&bri=5&cs=tinysrgb&fit=crop&h=500&w=1000") ;
  background-repeat: no-repeat;
  background-size:100% 68%;
  filter: grayscale(20%) blur(20%);
  width: 78.9em;

}
.nav-container{
  display:flex;
  justify-content:center;
  column-gap: 50rem;
  flex-direction: row;
}
.logo{
  width:3rem;
  height:3rem;
  margin-top: 1rem;
  display:flex;
  justify-content:start;
  border-radius: 20%;

}
.upload{
  width:3rem;
  height: 3rem;
  cursor: pointer;
}
.nav-left{
  display: flex;
 justify-content: start;
  flex-direction: row;
  padding-left: 4rem;
}
.nav-left:hover{
opacity:70%;
cursor: pointer;
  color: rgb(42, 42, 42);
}
.pexel1{
  margin-top: 1.5rem;
  color: white;
  padding:0.4rem;
}
.nav-right{
  width:35rem;
  height:2rem;
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: 0.2px;
  margin-right: 5rem;


}
.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 1.5em;
  border: none;
  outline: none;
  cursor: pointer;

  display: inline-block;

  padding: 0%;
  right: 600px;
  position: absolute;
  top: 0.2ch;
  right:8em;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0;
}

.dropdown-content {
  width:10em;
  display: none;
  position: absolute;
  top: 3.5ch;
  right: 22ch;
  background-color:rgb(255,255,255);
  border-radius: 20px;
 text-align: start;
}

.dropdown-content a {
  color: gray;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 15px;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(247,247,247);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color:rgb(207, 203, 203);}

.license{
position: absolute;
top: 1em;
right: 30ch;
  font-size: 1.3rem;
  color: white;
}


.notification{
  position: absolute;
  right:-10em;
}
.profile1{
position: absolute;
top: .9em;
right: 18ch;
  color:white;
  font-size: 1.5em;
  outline:none;
  border:none;
  background-color: transparent;
}

.downbtn {
   
  background-color: transparent;
  color:white;
  font-size: 2em;
  border: none;
  outline: none;
  cursor: pointer;
position: absolute;
top: -.7em;
right: 5.5ch;
}

.dawn{
  
  position: relative;
  display: inline-block;
 
}
.drop-content {
  width:11em;
  height:63vh;
  display: none;
  background-color: #f1f1f1;
  border-radius: 20px;
  
position: absolute;
right: 5ch;
top: 1.5em;
text-align: start;
}

.drop-content a {
  
  color: gray;
padding: 12px 16px;
text-decoration: none;
border-radius: 15px;
margin: 0%;
display: block;
}

.drop-content a:hover {background-color: #ddd;}

.dawn:hover .drop-content {display: block;}

.dawn:hover .dawn {color:rgb(207, 203, 203);}

.icons{
  border-top: 1px solid gray;
margin-bottom: 10px solid gray;
display: flex;
justify-content: space-evenly;
text-align: start;
padding-top: .5em;
color: gray;
}

.bell{
position: absolute;
top: 1.6ch;
right: 40ch;
  color:white;
  padding:0 1.5rem 0 1.5rem;
  font-size: 1.5em;
}
.upload{
  width:5em;
  height:2.5rem;
  color: white;
  font-size: 2.5ch;
  border: 1px solid;
  border-radius: 10px;
  position: absolute;
  right: 3ch;
  top: .5em;
  text-align: center;
  padding-top: .3em;
}

/* middle */
.titles{
  color:white;
  margin-left:22em;
  margin-top: 7em;
}
.search{
  height:3em;
  width:35rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius:30px ;
  background-color: white;
   
    margin-left:22em;
    margin-top: 1em;
position: sticky;
}
.drag{
  width:5em;
  height:1rem;
  margin-top:0.8rem;
  color:gray;
  padding-left: 1em;
  border-radius: 5px solid;
  text-align: start;
  &:hover{
    color: black;
    cursor: pointer;
  }
}
ul{
  list-style-type: none;
  background-color:lightyellow;
  
}
.find{
margin-top: 1rem;
width:10rem;
border:none;
outline:none;
margin-right: 10px;
}
.icon{
color:gray;
cursor: pointer;
margin-top: .3em;
font-size: 2em;
&:hover{
  color: green;
}
}

.trends{
margin-left:22em;
margin-top: 2rem;
display: flex;
flex-direction: row;
}



.more{
cursor: pointer;
width:1.5rem;
height:1.5rem;
color: white;
border:1px solid;
border-radius: 50%;
background-color: grey;
&:hover{
  color:rgb(226, 210, 210)
}

}
h4{
color:rgb(162, 160, 160);
cursor: pointer;
}
p{
color:white;
cursor: pointer;
}
.am:hover{
  color:rgb(162, 160, 160);
cursor: pointer;
}
.jl:hover{
  color:rgb(162, 160, 160);
  cursor: pointer;
}
.fs:hover{
  color:rgb(162, 160, 160);
  cursor: pointer;
}

.se:hover{
  color:rgb(162, 160, 160);
  cursor: pointer;
}

.sy:hover{
  color:rgb(162, 160, 160);
  cursor: pointer;
}

div.container
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
}

div.container a
{
    color: gray;
    text-decoration: none;
    font: 20px Raleway;
    margin: -2px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

/* Border from Y to X  */
div.borderYtoX a:before, div.borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background:gray;
    transition: all 0.3s;
}

div.borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

div.borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}

.head{
display: flex;
justify-content: start;
position: absolute;
top: 35em;
left: 1.7em;
color:black;
}
