*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Josefin Sans",sans-serif;
  }

  .navBar{
    width:100vw;
    height:100vh;
    background-image: url("https://images.pexels.com/photos/16959094/pexels-photo-16959094.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=500&w=2000");
    background-repeat: no-repeat;
  }
  .nav-container{
   
    display:flex;
    justify-content:center;
    column-gap: 50rem;
   
    flex-direction: row;
    background-image: url("https://images.pexels.com/photos/16959094/pexels-photo-16959094.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=500&w=2000");
    background-repeat: no-repeat;
  }
  .logo{
    width:3rem;
    height:3rem;
    margin-top: 1rem;
    display:flex;
    justify-content:start;
    border-radius: 20%;

  }
  .upload{
    width:3rem;
    height: 3rem;
  }
  .nav-left{
    display: flex;
   justify-content: start;
    flex-direction: row;
    padding-left: 4rem;
  }
  .nav-left:hover{
  opacity:70%;
cursor: pointer;
    color: rgb(42, 42, 42);
  }
  .pexel1{
    margin-top: 1.5rem;
    color: white;
    padding:0.4rem;
  }
  .nav-right{
    width:35rem;
    height:2rem;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: 0.2px;
    margin-right: 5rem;


  }
  .nav-login-links{
    height:1rem
  }

  .nav-explore-links{
    width:6.5vw;
    outline: none;
    border:none;
    color:white;
    background-color: transparent;
    font-size: 1.3rem;
  }
.nav-explore
  {
color:black;
margin-left:10px;
  }
  .license{
    margin-top: 0.3rem;
    font-size: 1.3rem;
    color: white;
  }

  .profile1{
    margin-top: 0.6rem;
    color:white;
    outline:none;
    border:none;
    background-color: transparent;
  }
  .login{
    font-size: 1.3rem;
    outline:none;
    border:none;
    color:black;
  }
  .login-links
  {
    width:1vh;
    display: block;
    width:2vw;
    margin-left:10px;
    margin-top: 1.5rem;
  }
  .bell{
    margin-top: 0.5rem;
    color:white;
    padding:0 1.5rem 0 1.5rem;
  }
  .upload{
    width:4vw;
    border-radius: 20%;
    padding:5px
  
  }

  .titles{
    color:white;
    margin-left:35rem;
    margin-top: 8rem;
  }
  .search{
    height:5vh;
    width:40rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border:1px solid;
    background-color: white;
      color:white;
      margin-left:35rem;
      margin-top: 2rem;
  border-radius: 2%;
  }
  .drag{
    margin-top:0.8rem;
    width:10rem;
  }
.find{
  margin-top: 1rem;
  width:25rem;
  border:none;
 outline:none;
}
.icon{
  color:black;
  cursor: pointer;
  margin-top: 1rem;
  &:hover{
    color: green;
  }
}

.trends{
  margin-left:35rem;
margin-top: 2rem;
display: flex;
flex-direction: row;

margin-left: 35rem;
}



.more{
  cursor: pointer;
width:1.5rem;
height:1.5rem;
  color: white;
  border:1px solid;
  border-radius: 50%;
  background-color: grey;
  &:hover{
    color:rgb(226, 210, 210)
  }
 
}
h4{
  color:rgb(162, 160, 160);
}
p{
  color:white;
}
.am:hover{
  color:rgb(162, 160, 160)
}
.jl:hover{
  color:rgb(162, 160, 160)
}
.fs:hover{
  color:rgb(162, 160, 160)
}

.se:hover{
  color:rgb(162, 160, 160)
}

.sy:hover{
  color:rgb(162, 160, 160)
}

.btn{
  color:rgb(162, 160, 160);
  margin-top:10rem;
  display:flex;
  flex-direction: row;
  justify-content: space-between;

}
.he:hover{
color:black;
}
.he{
  cursor:pointer;

}

.vs:hover{
  color:black;
}
.vs{
  cursor:pointer;
color: black;
}
.ld{
  cursor:pointer;
color: black;
}
.ld:hover{
  color:black;
}
.cs{
  cursor:pointer;


  }
  .cs:hover{
    color:black;
    
  }